<!DOCTYPE html>
<html layout:decorate="~{layout}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Roles</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-md-12 grid-margin stretch-card">
				<div class="card">
				<div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully create a role !
                </div>
            </div>
					<div class="card-body">
						<h4 class="card-title">Gestion des roles</h4>

						<form class="forms-sample" action="#"
							th:action="@{/admin/save-role}" th:object="${role}"
							method="post">
							<div class="form-group">
								<label for="name">Libelle</label> <input type="text"
									class="form-control" th:field="*{name}" id="reference"
									placeholder="Libelle"> <span
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

							</div>
							
							<button type="submit" class="btn btn-success mr-2">Ajouter
								un role</button>
							<button class="btn btn-light">Cancel</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Liste des roles</h4>
					<p class="card-description">
						Add class
						<code>.table-bordered</code>
					</p>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Nom</th>

									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="r : ${roles}">
									<td th:text="${r.name}"/>
										
										<td> 
										<a href="form-edit-role.html" th:href="@{/admin/edit-role(roleId=${r.id})}" class="btn btn-primary">Editer</a>
                        				<a href="form-roles.html" th:href="@{/admin/delete-role(roleId=${r.id})}" class="btn btn-danger">Supprimer</a>
                                       </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>



	</section>
</body>
</html>
