<!DOCTYPE html>
<html layout:decorate="~{layout}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<head>
<title>Ecritures</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-md-12 grid-margin stretch-card">
				<div class="card">
					<div th:if="${param.success}">
						<div class="alert alert-info">You have successfully create a
							ecriture !</div>
					</div>
					<div class="card-body">
						<h4 class="card-title">Gestion des ecritures</h4>

						<form class="forms-sample" action="#"
							th:action="@{/pages/save-ecriture}" th:object="${ecriture}"
							method="post">
							<div class="col-12 grid-margin">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Numero</label>
													<div class="col-sm-9">
														<input type="text" class="form-control"
															th:field="*{numero}" id="numero" placeholder="Numero">
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Libelle </label>
													<div class="col-sm-9">
														<select class="form-control" id="libelle" name="libelle">
															<option th:each="lib : ${libelles}"
																	th:value="${lib.id}" th:text="${lib.name}"></option>
														</select>
													</div>
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Date
														écriture</label>
													<div class="col-sm-9">
														<input type="date" class="form-control" th:field="*{created}"
															id="created" placeholder="dd/mm/yyyy" />

<!-- 															th:value="${#dates.format(created, 'dd/MM/yyyy')}" -->

													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Mois</label>
													<div class="col-sm-9">
														<select id="mois" name="mois" class="form-control">

															<option
																th:each="mois : ${T(org.formation.model.MoisEnum).values()}"
																th:text="${mois}" th:value="${mois}"></option>

														</select>


													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Catégorie</label>
													<div class="col-sm-9">
														<select id="categorie" name="categorie" class="form-control">
															<option value="0">selection catégorie</option>
															<option th:each="ca : ${categories}" th:value="${ca.id}"
																th:text="${ca.name}"></option>
														</select>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Total
														Mensuel</label>
													<div class="col-sm-9">
														<input type="text" class="form-control"
															placeholder="Total Mensuel" th:field="*{totalMensuel}"
															id="totalMensuel" />
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Montant Ecriture</label>
													<div class="col-sm-9">
														<input type="text" class="form-control"
															   placeholder="Montant Ecriture" th:field="*{montantEcriture}"
															   id="montantEcriture" />
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Total Annee</label>
													<div class="col-sm-9">
														<input type="text" class="form-control"
															placeholder="Total Annee" th:field="*{totalAnnee}"
															id="totalAnnee" />
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Total Global</label>
													<div class="col-sm-9">
														<input type="text" class="form-control"
															th:field="*{totalGlobal}" id="totalGlobal"
															placeholder="Total Global" />
													</div>
												</div>
											</div>
											<div class="col-md-6" hidden="true">
												<div class="form-group row">
													<label class="col-sm-3 col-form-label">Entreprise</label>
													<div class="col-sm-9">
														<input type="text" class="form-control"
															th:field="*{entreprise}" id="entreprise"
															placeholder="Entreprise" />
													</div>
												</div>
											</div>

										</div>
										<button type="submit" class="btn btn-success mr-2">Ajouter
											une ecriture</button>
										<button class="btn btn-light">Cancel</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Liste des ecritures</h4>
					<p class="card-description">
						Add class
						<code>.table-bordered</code>
					</p>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Numero</th>
									<th>Libelle</th>
									<th>Catégorie</th>
									<th>Date écriture</th>
									<th>Total Mensuel</th>
									<th>Total Année</th>
									<th>Total Global</th>
									<th>Mois</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="e : ${ecritures}">
									<td th:text="${e.numero}" />
									<td th:text="${e.libelle}" />
									<td th:text="${e.categorie.name}" />
									<td th:text="${e.created}" />
									<td th:text="${e.totalMensuel}" />
									<td th:text="${e.totalAnnee}" />
									<td th:text="${e.totalGlobal}" />
									<td th:text="${e.mois}" />
									<td><a href="form-ecritures.html" class="btn btn-primary"
										th:href="@{/pages/edit-ecriture(ecritureId=${e.id})}">Editer</a>
										<a href="form-edit-ecriture.html" class="btn btn-danger"
										th:href="@{/pages/delete-ecriture(ecritureId=${e.id})}">Supprimer</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


	</section>
</body>
</html>
